build --config=debug

build:debug --cxxopt="-std=c++17" --cxxopt="-O0" --cxxopt="-g" --cxxopt="-fno-exceptions" --cxxopt="-Wall"
build:release --cxxopt="-std=c++17 --cxxopt="-O3" --cxxopt="-fno-exceptions" --cxxopt="-Wall"


